html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.img-thumbnail{
    width:1000px;
    height:1000px;
}
/* IE 6 */
#footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 100px;
    width: 100%;
    background: #000000;
}